.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    max-width: 600px;
    width: 100%;
  }
  
  mat-list-item {
    cursor: pointer;
  }
  
  mat-icon-button {
    margin-left: auto;
  }
  